<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>659533231317-inha95uodagke8onpijmec210fp2bau3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.659533231317-inha95uodagke8onpijmec210fp2bau3</string>
	<key>API_KEY</key>
	<string>AIzaSyDcrP3_fX7ucLZ5i3-Zfzg2-ie0eYIBn7c</string>
	<key>GCM_SENDER_ID</key>
	<string>659533231317</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.University</string>
	<key>PROJECT_ID</key>
	<string>university-69207</string>
	<key>STORAGE_BUCKET</key>
	<string>university-69207.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:659533231317:ios:cc75c4978574b27e</string>
	<key>DATABASE_URL</key>
	<string>https://university-69207.firebaseio.com</string>
</dict>
</plist>